@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);

@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

@font-face {
    font-family: 'Bellico';
    src: url("../fonts/Bellico.otf") format("opentype");
    src: url("../fonts/Bellico.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Lora",serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #9f9896;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lora",serif;
    text-align: center;
    letter-spacing: 0px;
    line-height: 40px;
    color: #613c41;
}

h1, h2 {
    font-family: "Berkshire Swash",cursive;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h5 {
    font-family: "Lora",serif;
    font-weight: bold;
    text-align: left;
}

img {
    max-width: 100%;
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
    outline: none;
}

.accent {
    color: #ec495e;
}

.button {
    margin-top: 7px;
    padding: 19px 64px;
    border-radius: 29px;
    border: none;
    background-color: #ec495e;
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.button:hover {
    background-color: #f7425a;
}

.description {
    padding-top: 90px;
    padding-bottom: 70px;
    text-align: center;
}

.num {
    font-family: "Berkshire Swash",cursive;
    font-size: 100px;
    color: #ec495e;
}

.header {
    padding-top: 40px;
    background-color: #f0c7c9;
}

@media (max-width: 767px) {
    .header {
        padding-top: 30px;
    }
}

.header .logo {
    text-align: center;
}

.header .navbar {
    padding-top: 11px;
    background-color: transparent;
    border-color: transparent;
}

.header .navbar ul.nav {
    float: none;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
    .header .navbar ul.nav {
        float: none;
    }
}

.header .navbar ul.nav li {
    float: none;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-family: "Montserrat",sans-serif;
}

@media (min-width: 768px) and (max-width: 991px) {
    .header .navbar ul.nav li {
        font-size: 12px;
        text-align: right;
    }
}

@media (max-width: 767px) {
    .header .navbar ul.nav li {
        display: block;
        text-align: left;
        padding-left: 5px;
    }
}

.header .navbar ul.nav li a {
    padding: 15px 10px;
}

.header .navbar-header {
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
}

.header .navbar-default .navbar-collapse, .header .navbar-default .navbar-form {
    border-color: transparent;
}

.header .navbar-default .navbar-toggle {
    border-color: #888;
}

.header .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.header .navbar-default .navbar-toggle:hover {
    background-color: #e0b2b5;
}

.header .main-header {
    padding-top: 150px;
    padding-bottom: 220px;
    text-align: center;
}

@media (max-width: 767px) {
    .header .main-header {
        padding-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header .main-header {
        padding-top: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header .main-header {
        padding-top: 50px;
    }
}

.header .main-header h1 {
    margin-bottom: 15px;
    line-height: 50px;
}

.header .main-header p {
    margin-bottom: 20px;
    text-align: center;
    color: #613c41;
}

.solution-in-steps {
    padding-bottom: 90px;
}

.solution-in-steps .desc {
    margin-top: -15px;
}

.solution-in-steps .step {
    padding-left: 30px;
}

.features-benefits {
    padding-bottom: 70px;
    background-color: #fff9ef;
    text-align: center;
}

.features-benefits .benefit {
    margin-bottom: 40px;
}

.features-benefits h5 {
    text-align: center;
}

.people-believe .people {
    margin-bottom: -6px;
}

.people-believe .quote {
    padding-top: 65px;
}

.people-believe .quote img {
    float: left;
    margin-right: 30px;
    margin-bottom: 0;
}

.people-believe .quote blockquote {
    overflow: hidden;
    margin-bottom: 40px;
    font-family: "Lora",serif;
    font-style: italic;
    font-size: 20px;
}

.people-believe .quote cite {
    font-family: "Berkshire Swash",cursive;
    font-size: 28px;
    color: #a8756f;
}

.tell-visit {
    background-image: url(../images/bg-visitors.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.tell-visit .description {
    padding-top: 66px;
}

.tell-visit .button {
    margin-top: 30px;
}

.product .cake {
    margin-bottom: 25px;
}

.team {
    padding-bottom: 60px;
    background-color: #f6f6f6;
    text-align: center;
}

.team img {
    height: 180px;
}

.team h3 {
    margin-bottom: -11px;
    font-family: "Lora",serif;
    font-weight: bold;
    font-size: 18px;
    color: #613c41;
}

.team span {
    font-family: "Lora",serif;
    font-style: italic;
    font-size: 10px;
    color: #9f9896;
}

.team p {
    margin-bottom: 10px;
    font-family: "Lora",serif;
    font-size: 12px;
}

.team i {
    margin: 0 10px;
    font-size: 10px;
    color: #ec495e;
}

.promote {
    margin-bottom: -6px;
    padding-top: 40px;
    background-color: #f5d7d7;
}

.promote img {
    margin-bottom: -6px;
}

.promote .description {
    text-align: left;
}

.promote .description h2 {
    margin-bottom: 10px;
    text-align: left;
}

.promote .description h4 {
    margin-bottom: 10px;
    font-family: "Lora",serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
}

.promote .description p {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
}

.promote .description h2 + p {
    margin-bottom: 30px;
    font-size: 12px;
}

.promote .description h3 {
    font-family: "Lora",serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #613c41;
}

.promote .description .button {
    padding: 14px 50px;
    background-color: #fff;
    color: #ec495e;
}

.promote .description h3 + p {
    margin-bottom: 10px;
    font-style: italic;
}

.info-about-project {
    padding-bottom: 70px;
}

.info-about-project h3 {
    font-size: 20px;
    font-family: "Lora",serif;
    line-height: 27px;
    text-align: left;
    color: #613c41;
}

.info-about-project p {
    margin-top: 20px;
    font-size: 14px;
    color: #616161;
}

.info-about-project img:nth-child(odd) {
    margin-bottom: 40px;
}

.info-about-project p:nth-child(even) {
    margin-bottom: 40px;
}

.numbers {
    background-color: #fbf3f3;
    padding-bottom: 70px;
    text-align: center;
}

.numbers .num {
    line-height: 30px;
}

.numbers p {
    margin-top: 20px;
    font-family: "Lora",serif;
    color: #a8756f;
}

.contacts {
    padding-bottom: 70px;
    color: #613c41;
}

.contacts .contact-inform {
    padding-top: 20px;
}

.contacts .contact-inform .info-block {
    position: relative;
}

.contacts .contact-inform .info-block h6 {
    color: #9f9896;
    text-align: left;
}

.contacts .contact-inform .info-block span {
    font-family: "Lora",serif;
}

.contacts .contact-inform .info-block .accent {
    font-family: "MyriadPro";
}

.contacts .contact-inform .info-block h6 {
    display: inline-block;
    margin-left: 84px;
    font-size: 13px;
}

.contacts .contact-inform .info-block p, .contacts .contact-inform .info-block address {
    margin-left: 84px;
    margin-bottom: 10px;
}

.contacts .contact-inform .info-block .icon {
    position: absolute;
    top: 15px;
    margin-left: 15px;
}

.time-line {
    padding-bottom: 70px;
    background-color: #fbf3f3;
}

.time-line h5 {
    font-weight: normal;
}

.time-line p {
    font-size: 13px;
}

.just-answer {
    background-color: #fff;
}

.just-answer p {
    font-size: 11px;
}

.just-answer .description {
    padding-bottom: 30px;
}

.show-plans {
    padding-bottom: 80px;
}

.show-plans .cards .card {
    position: relative;
    padding: 60px 20px;
    border: 1px solid #e1e1e1;
    text-align: center;
}

.show-plans .cards .card:before {
    content: '';
    position: absolute;
    top: 190px;
    height: 1px;
    width: 100%;
    background-color: #e1e1e1;
    transform: translateX(-50%);
}

.show-plans .cards .card:nth-child(n) {
    border-right: none;
}

.show-plans .cards .card:nth-child(2n) {
    border: 1px solid #e1e1e1;
    box-shadow: 0px 1px 59px -10px rgba(0, 0, 0, 0.1);
}

.show-plans .cards .card:nth-child(3n) {
    border: 1px solid #e1e1e1;
    border-left: none;
}

.show-plans .cards .card h3 {
    font-family: "Berkshire Swash",cursive;
    position: relative;
}

.show-plans .cards .card h3:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    height: 1px;
    width: 70px;
    margin: 0 auto;
    background-color: #e1e1e1;
    transform: translateX(-50%);
}

.show-plans .cards .card p {
    margin-top: 30px;
    font-family: "Lora",serif;
    font-size: 13px;
}

.show-plans .cards .card p .accent {
    font-weight: bold;
}

.show-plans .cards .card .choice {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.show-plans .cards .card .button {
    margin-top: 35px;
    padding: 14px 31px;
}

.show-plans .cards .card .options {
    padding-top: 90px;
}

.show-plans .cards .card .options .option {
    margin-top: 10px;
}

.show-plans .cards .card .options .option img {
    margin-right: 10px;
}

.show-plans .cards .card .options .option p {
    margin-top: 0;
}

.show-plans .cards .card .options .option h4 {
    display: inline-block;
}

.find-people {
    padding-bottom: 70px;
    background-color: #fff9ef;
    text-align: center;
}

.find-people .description {
    padding-bottom: 20px;
}

.find-people h5 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.find-people p {
    padding: 0px 20px;
    margin-bottom: 20px;
    font-size: 13px;
}

.find-people a {
    font-family: "Montserrat",sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
}

.featured-product .description {
    padding-bottom: 40px;
}

.featured-product .button {
    margin-top: 30px;
    padding: 11px 30px;
    font-size: 12px;
}

.featured-product .num {
    display: block;
    margin-top: 30px;
    font-size: 40px;
}

.featured-product h4 {
    font-size: 18px;
    text-align: left;
}

.featured-product p {
    margin-top: 20px;
}

.featured-product img {
    margin-bottom: -6px;
}

.logotype {
    background-color: #f8f7f6;
}

.logotype .logos {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}

.logotype .logos .logo {
    max-width: 100px;
    margin: auto;
}

.footer {
    padding-bottom: 45px;
}

.footer .collapse.navbar-collapse ul.navbar-nav li a {
    font-size: 13px;
    color: #a8756f;
}

.footer .social-icons {
    font-size: 10px;
    text-align: center;
}

.footer .social-icons a {
    margin: 0 10px;
    color: #bc8e8a;
}

.footer nav.navbar.navbar-default {
    margin-bottom: 10px;
}

.footer .copy {
    padding-top: 20px;
    text-align: center;
    color: #613c41;
}