@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);

@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);

@font-face {
    font-family: 'Bellico';
    src: url("../fonts/Bellico.otf") format("opentype");
    src: url("../fonts/Bellico.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}