@import "compass/css3";
@import "compass/reset";

//@import "compass/utilities/sprites";
//@import "sprites";

@import "mixins/breakpoint";
@import "fonts";
@import "base";

@import "components/button";
@import "components/description";
@import "components/num";

@import "widgets/header";
@import "widgets/solution-in-steps";
@import "widgets/features-benefits";
@import "widgets/people-believe";
@import "widgets/tell-visit";
@import "widgets/product";
@import "widgets/team";
@import "widgets/promote";
@import "widgets/info-about-project";
@import "widgets/numbers";
@import "widgets/contacts";
@import "widgets/time-line";
@import "widgets/show-plans";
@import "widgets/find-people";
@import "widgets/featured-product";
@import "widgets/logotype";
@import "widgets/footer";

// @import "layouts/main-layout";