.button {
    margin-top: 7px;
    padding: 19px 64px;
    border-radius: 29px;
    border: none;
    background-color: $accentColor;
    font-size: 14px;
    font-family: $Montserrat;
    text-transform: uppercase;
    color: #fff;

    &:hover {
        background-color: #f7425a;
    }
}