.contacts {
    padding-bottom: 70px;
    color: #613c41;

    @include breakpoint(extra-small) {
        padding-bottom: 30px;
    }


    @include breakpoint(small) {
        padding-bottom: 30px;
    }


    .description {
        @include breakpoint(extra-small) {
            padding-bottom: 10px;
        }


        @include breakpoint(small) {
            padding-bottom: 30px;
        }
    }

    .map {
        margin-top: 20px;

        img {
            cursor: pointer;
        }
    }

    .contact-inform {
        padding-top: 20px;

        .info-block {
            position: relative;

            h6 {
                color: #9f9896;
                text-align: left;
            }

            span {
                font-family: $lora;
            }

            .accent {
                font-family: "MyriadPro";
                cursor: pointer;
            }

            h6 {
                display: inline-block;
                margin-left: 84px;
                font-size: 13px;
            }

            p, address {
                margin-left: 84px;
                margin-bottom: 10px;
            }

            .icon {
                position: absolute;
                top: 15px;
                margin-left: 15px;
            }
        }
    }

    // .icons {
    //     .icon {
    //         margin-top: 14px;
    //         height: 34px;
    //     }
    // }
}