.features-benefits {
    padding-bottom: 70px;
    background-color: #fff9ef;
    text-align: center;

    @include breakpoint(extra-small) {
        padding-bottom: 20px;
    }


    .benefit {
        margin-bottom: 40px;

        img {
            cursor: pointer;
        }
    }

    .benefits {
        @include breakpoint(extra-small) {
            p {
                margin-bottom: 30px;
            }
        }
    }

    h5 {
        text-align: center;
    }
}