.footer {
    padding-bottom: 45px;

    .navbar {
        ul.nav {
            li {
                display: inline-block;

                a {
                    font-size: 13px;
                    color: #a8756f;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .social-icons {
        font-size: 10px;
        text-align: center;

        a {
            margin: 0 10px;
            color: #bc8e8a;
        }
    }

    nav.navbar.navbar-default {
        margin-bottom: 10px;
    }

    .copy {
        padding-top: 20px;
        text-align: center;
        color: #613c41;
    }
}