.logotype {
    background-color: #f8f7f6;

    .logos {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        margin: 80px 0px;

        @include breakpoint(extra-small) {
            margin: 40px 0;
        }


        .logo {
            max-width: 100px;
            margin: auto;

            img {
                cursor: pointer;
            }

            // text-align: center;
       
        }
    }
}