.numbers {
    background-color: #fbf3f3;
    padding-bottom: 70px;
    text-align: center;

    .num {
        line-height: 30px;

        @include breakpoint(extra-small) {
            line-height: 100px;
        }
    }

    .description {
        @include breakpoint(extra-small) {
            padding-bottom: 10px;
        }
    }

    p {
        margin-top: 20px;
        font-family: $lora;
        color: #a8756f;
    }
}