.people-believe {
    .people {
        margin-bottom: -6px;
    }

    .quote {
        padding-top: 65px;

        img {
            float: left;
            margin-right: 30px;
            margin-bottom: 0;
        }

        blockquote {
            overflow: hidden;
            margin-bottom: 40px;
            font-family: $lora;
            font-style: italic;
            font-size: 20px;
        }

        cite {
            font-family: $BerkshireSwash;
            font-size: 28px;
            color: #a8756f;
        }
    }
}