.promote {
    margin-bottom: -6px;
    padding-top: 40px;
    background-color: #f5d7d7;

    img {
        margin-bottom: -6px;
    }

    .description {
        text-align: left;

        h2 {
            margin-bottom: 10px;
            text-align: left;
        }

        h4 {
            margin-bottom: 10px;
            font-family: $lora;
            font-weight: bold;
            font-size: 13px;
            line-height: 20px;
            text-align: left;
        }

        p {
            margin-bottom: 40px;
            font-size: 11px;
            line-height: 16px;
        }

        h2 + p {
            margin-bottom: 30px;
            font-size: 12px;
        }

        h3 {
            font-family: $lora;
            font-size: 20px;
            font-weight: bold;
            text-align: left;
            color: #613c41;
        }

        .button {
            padding: 14px 50px;
            background-color: #fff;
            color: #ec495e;
        }

        h3 + p {
            margin-bottom: 10px;
            font-style: italic;
        }
    }
}