.show-plans {
    padding-bottom: 80px;

    @include breakpoint(small) {
        padding-bottom: 40px;
    }


    @include breakpoint(extra-small) {
        padding-bottom: 0px;
    }


    .description {
        @include breakpoint(extra-small) {
            padding-bottom: 40px;
        }
    }

    .cards {
        .card {
            position: relative;
            padding: 60px 20px;
            border: 1px solid #e1e1e1;
            text-align: center;

            @include breakpoint(extra-small) {
                border: none;
                border-top: 1px solid #e1e1e1;
            }


            &:before {
                content: '';
                position: absolute;
                top: 190px;
                height: 1px;
                width: 100%;
                background-color: #e1e1e1;
                transform: translateX(-50%);
            }

            &:nth-child(n) {
                border-right: none;

                @include breakpoint(extra-small) {
                    border-top: 1px solid #e1e1e1;
                }
            }

            &:nth-child(2n) {
                border: 1px solid #e1e1e1;
                -webkit-box-shadow: 0px 1px 59px -10px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 1px 59px -10px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 1px 59px -10px rgba(0, 0, 0, 0.1);

                @include breakpoint(extra-small) {
                    border: none;
                    border-top: 1px solid #e1e1e1;
                    box-shadow: none;
                }
            }

            &:nth-child(3n) {
                border: 1px solid #e1e1e1;
                border-left: none;

                @include breakpoint(extra-small) {
                    border: none;
                    border-top: 1px solid #e1e1e1;
                }
            }

            h3 {
                font-family: $BerkshireSwash;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -5px;
                    height: 1px;
                    width: 70px;
                    margin: 0 auto;
                    background-color: #e1e1e1;
                    transform: translateX(-50%);
                }
            }

            p {
                margin-top: 30px;
                font-family: $lora;
                font-size: 13px;

                .accent {
                    font-weight: bold;
                }
            }

            .choice {
                position: absolute;
                top: 0;
                transform: translateX(-50%);
            }

            .button {
                margin-top: 35px;
                padding: 14px 31px;
            }

            .options {
                padding-top: 90px;

                @include breakpoint(small) {
                    padding-top: 60px;
                }


                @include breakpoint(extra-small) {
                    padding-top: 60px;
                }


                .option {
                    margin-top: 10px;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin-top: 0;
                    }

                    h4 {
                        display: inline-block;
                    }
                }
            }
        }
    }
}