.solution-in-steps {
    padding-bottom: 90px;

    .desc {
        margin-top: -15px;
    }

    // h5 {
    //     font-family: $lora;
    //     font-weight: bold;
    //     text-align: left;
    // }

    .number {
        span {
            font-family: $BerkshireSwash;
            font-size: 100px;
            color: #ec495e;
        }
    }

    .step {
        padding-left: 30px;
    }
}