.solution-in-steps {
    padding-bottom: 90px;

    @include breakpoint(extra-small) {
        text-align: center;
        padding-bottom: 50px;
    }


    .desc {
        margin-top: -15px;

        h5 {
            @include breakpoint(extra-small) {
                margin-top: 20px;
                text-align: center;
            }
        }

        p {
            margin-bottom: 30px;
        }
    }

    .step {
        padding-left: 30px;
    }
}