.team {
    padding-bottom: 60px;
    background-color: #f6f6f6;
    text-align: center;

    img {
        height: 180px;
    }

    h3 {
        margin-bottom: -11px;
        font-family: $lora;
        font-weight: bold;
        font-size: 18px;
        color: #613c41;
    }

    span {
        font-family: $lora;
        font-style: italic;
        font-size: 10px;
        color: #9f9896;
    }

    p {
        margin-bottom: 10px;
        font-family: $lora;
        font-size: 12px;
    }

    i {
        margin: 0 10px;
        font-size: 10px;
        color: $accentColor;
    }
}