.tell-visit {
    background-image: url(../images/bg-visitors.png);
    background-size: cover;
    background-repeat: no-repeat;

    .description {
        padding-top: 66px;
    }

    .button {
        margin-top: 30px;
    }
}