.time-line {
    padding-bottom: 70px;
    background-color: #fbf3f3;

    h5 {
        // color: #613c41;
        font-weight: normal;
    }

    p {
        font-size: 13px;
    }
}

.just-answer {
    background-color: #fff;

    p {
        font-size: 11px;
    }
}