.time-line {
    padding-bottom: 70px;
    background-color: #fbf3f3;

    @include breakpoint(extra-small) {
        padding-bottom: 40px;
    }


    .description {
        @include breakpoint(extra-small) {
            padding-bottom: 10px;
        }
    }

    @include breakpoint(extra-small) {
        text-align: center;
    }


    h5 {
        font-weight: normal;

        @include breakpoint(extra-small) {
            text-align: center;
        }
    }

    p {
        font-size: 13px;

        @include breakpoint(extra-small) {
            padding: 0 20px;
        }
    }
}

.just-answer {
    background-color: #fff;

    p {
        font-size: 11px;
    }

    .description {
        padding-bottom: 30px;
    }
}